@charset "utf-8";
/* CSS Document */

* {margin:0; padding:0;}
html, body{height:100%;}

body {font-size:12px;}

h1 {float:left; width:270px;}

dl {float:left; font-size:90%; line-height:6px; clear:both;}
dt {float:left; margin:5px;}
dd {float:left; margin:5px;}

#url {width:60%; margin:5px;}
